.nameBar {
    margin-right: 20px;
    display: inline;
    opacity: 0.9;
    background-color: transparent;
    z-index: 100;
}

.topper {
    height: 70px;
    z-index: 100;
    color: white;
}

h1 {
    font-family: 'IM Fell English', serif;
    color: white;
}

h4 {
    font-family: 'Ovo', serif;
    color: white;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.buttonIcon {
    color: white;
    font-size: 2em;
    height: 10px;
}

li {
    color: white;
    font-family: 'Ovo', serif;
    font-size: 0.7em;
}

li a {
    color: white;
    font-family: 'Ovo', serif;
    font-size: 0.7em;
}

li a:hover {
    color: white;
    font-family: 'Ovo', serif;
    font-size: 0.8em;
}

.infobox {
    background-color: white;
    color: black;
    border-radius: 5px;
}

#brbut, #hrsbut, #conbut{
    cursor: pointer;
}